/**
 * ----------------------------------------------------------------------------
 * Editor CSS
 * ----------------------------------------------------------------------------
 */

.wp-block-wplawfirm-testimonials-block {
    background-color: #ffffff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
    padding: 15px;
}
.wp-block-wplawfirm-testimonials-block .block-title {
    margin-top: 0;
    margin-bottom: 12px;
}
